body {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0%;
    margin: 0rem 0rem 1rem 0rem;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
    border-radius: 0.5rem;
    padding: 2rem 2rem 3.5rem 2rem;
    color: white;
    height: 6rem;
    /* height: 18rem; */
    margin-top: 5rem;
    box-shadow: 15px 15px 15px black;
}

#titulo-inicio {
    width: 18rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    width: 6rem;
    height: 2rem;
    border: none;
    background-color: rgb(90, 62, 175);
    /* background-color: rgb(90, 62, 175); */
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(67, 46, 128);
}

#btn-empezar {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
}

#container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 6rem;
    height: 19rem;
}

.letter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    height: 8rem;
    width: 7rem;
}

.images {
    width: 7rem;
    background-size: contain;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.cartatrasera {
    visibility: hidden;
}

.interrogacion {
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}

/* #btn-back {
    cursor: pointer;
} */

#container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 3;
}

.svg {
    cursor: pointer;
}
.load {
    position: absolute;
    top: 0.2rem;
}

@keyframes rotacion {
    0% {transform: rotatey(0deg); visibility: visible;}
    100% {transform: rotatey(180deg);}
}

@keyframes rotacionReversa {
    0% {transform: rotatey(180deg); visibility: visible;}
    100% {transform: rotatey(0deg); visibility: visible;}
}



/* ventana emergente */
.ventana-emergente {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.cuerpo-ventana {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: black;
    padding: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    position: relative;
    margin: auto 1rem;
    text-align: center;
}

#btn-clouse {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(135, 26, 26);
    color: #fff;
    padding: 0.2rem 0.5rem;
}
#btn-clouse:hover {
    background-color: rgb(109, 21, 21);
    cursor: pointer;
}

.btn-ventana {
    width: 6rem;
    height: 2rem;
    border: none;
    background-color: rgb(90, 62, 175);
    /* background-color: rgb(90, 62, 175); */
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}
.btn-ventana:hover {
    background-color: rgb(67, 46, 128);
}

.input-ventana {
    outline: none;
    border: none;
    padding: 0.5rem;
    height: 1rem;
    width: 10rem;
    border-radius: 0.5rem;
}

.btn-enviar-ventana {
    width: 4rem;
    height: 2rem;
    border: none;
    background-color: rgb(90, 62, 175);
    /* background-color: rgb(90, 62, 175); */
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}
.btn-enviar-ventana:hover {
    background-color: rgb(67, 46, 128);
}
/*  */

#codigo-sala {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 1.2rem;
}

#segundos {
    font-size: 8rem;
    color: #fff;
}



@media (max-width: 770px) {

    .images {
        width: 6rem;
    }

    .letter {
        width: 6rem;
        height: 6rem;
    }
}

@media (max-width: 450px) {

    .images {
        width: 5rem;
    }

    .letter {
        width: 5rem;
        height: 5rem;
    }

}
